

/* put style for username and password inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  border: 0.5px solid grey;
}

/* set style for all buttons */
button {
  background-color: #53ac47;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
}

/* set sytle for login icon container */
.imgcontainer {
  text-align: center;
  margin: 12px 0 6px 0;
}

/* for login container */
.content {
  width: 40%;
  margin: auto;
  margin-top: 100px;
}

